@charset "utf-8";
#article2{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}



input{
	width: 160px; height: 35px; padding: 5px 20px 0px 20px; margin-left:10px;
	background: #355664;
	background: -moz-linear-gradient(top, #546A7F 0%, #355664 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#355664)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #0D3E59;-webkit-box-shadow: 0px 1px 0px #0D3E59;
	color: #999;
	border-color: #142830;
}

input[type=checkbox]{
    background: none;
	width:auto;
	margin-left:100px;
	height:auto;
	
}




input[type=submit] {
	float: right;
	background:url(img/gradient_light.jpg) repeat-x 50% 50%;
	padding:0 5px;
	right:0;
	top:4em;
	width:100px;
	border:1px solid #FCFCFC;
	

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
	color:#565656;
	display:block;
	font-size:1.25em;
	font-weight:bold;
	text-shadow: none;

	/*width: 185px; height: 52px; padding: 10px 15px; margin: 0px 11px 0px 200px;
	/*-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
	cursor: pointer;
    }